@media only screen and (min-width: 769px) {
  .testimonial-container-full {
    background-color: saddlebrown;
    .full {
      display: block;
      .row-one {
        padding-top: 25px;
        display: flex;
        justify-content: center;
      }
      .row-middle-one {
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
        justify-content: center;
      }
      .row-middle-two {
        padding-bottom: 25px;
        display: flex;
        justify-content: center;
      }
      .row-last {
        padding-bottom: 25px;
        display: flex;
        justify-content: center;
      }
    }
  }
  .mobile {
    display: none;
  }
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .testimonial-container-full {
    .full {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
}
