button {
  cursor: pointer;
  margin: -1px;
  padding: 0px;
  border-radius: 7px;
  overflow: hidden;
}

button:focus {
  outline: 0;
}

.constructor {
  margin-left: 10px;
  margin-right: 10px;
  .modal-opener {
    padding: 0;
    height: 100%;
    background-color: black;
    .button-container {
      overflow: hidden;
      flex-direction: column;
      display: flex;
      justify-content: center;
      max-width: 140px;
      min-width: 70px;
      min-height: 87px;
      .button-img {
        width: 100%;
        height: auto;
      }
    }
  }
}
